pyarrow
pandas
matplotlib
scipy
scikit-learn
numpy
pysam
networkx
matplotlib==3.8.4
seaborn
patchworklib
PyWavelets
cairosvg
pillow
svgutils
python-circos
click
rich
statsmodels
pypdf
kneed
pysam
intervaltree
# cpython
scikit-bio
screed
khmer
argparse
pyfaidx
